<template>
    <v-container grid-list-md text-xs-center class="not-full-height">
        <v-layout row wrap>
            <v-flex xs12>
                <v-card>
                    <v-toolbar>
                        <v-toolbar-title>Menu des Abends</v-toolbar-title>
                        <v-btn
                                fab
                                medium
                                color="red accent-2"
                                bottom
                                right
                                absolute
                                @click="create=true"
                        >
                            <v-icon>add</v-icon>
                        </v-btn>
                    </v-toolbar>
                    <v-list two-line subheader>
                        <v-subheader inset>Gerichte</v-subheader>
                        <v-list-tile
                                @click=""
                                v-for="(dish, index) in dishes"
                                :key="index+'_dish'"
                        >
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{dish.title}}
                                </v-list-tile-title>
                                <v-list-tile-sub-title>
                                    {{dish.description}}
                                </v-list-tile-sub-title>
                            </v-list-tile-content>

                            <v-list-tile-action>
                                <v-btn color="error" @click="deleteDish(dish.id)" class="ml-2">Löschen</v-btn>
                            </v-list-tile-action>

                            <v-list-tile-avatar>
                                <v-icon large>local_restaurant</v-icon>
                            </v-list-tile-avatar>
                        </v-list-tile>
                    </v-list>
                </v-card>
            </v-flex>
        </v-layout>
        <v-dialog v-model="create" persistent>
            <v-card>
                <v-form
                        ref="form"
                        v-model="valid"
                        lazy-validation
                >
                    <v-card-title>
                        <span class="headline">Gericht hinzufügen</span>
                    </v-card-title>
                    <v-card-text>
                        <v-container grid-list-md>
                            <v-layout wrap>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field :rules="nameRules" label="Title*" v-model="title" required></v-text-field>
                                </v-flex>
                                <v-flex xs12 sm12 md12>
                                    <v-text-field :rules="nameRules" label="Description*" v-model="description" required></v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-container>
                        <small>*indicates required field</small>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="blue darken-1" flat @click="create = false">Abbrechen</v-btn>
                        <v-btn :disabled="!valid" color="primary" flat @click="createNew">Speichern</v-btn>
                    </v-card-actions>
                </v-form>
            </v-card>
        </v-dialog>

        <v-snackbar v-model="updated" absolute multi-line top>
            {{update_message}}
            <v-btn
                    color="pink"
                    flat
                    @click="updated = false"
            >
                Schließen
            </v-btn>
        </v-snackbar>

    </v-container>
</template>

<script>
    import axios from 'axios'

    export default {
        name: "Dishes",
        data: function(){
            return {
                update_message: '',
                updated: false,
                create: false,
                title: '',
                description: '',
                dishes: [],
                nameRules: [
                    v => !!v || 'Input is required'
                ],
                valid: false
            }
        },
        methods: {
            createNew: async function(){

                if (this.$refs.form.validate()) {
                    //Fire notification
                }else{
                    return;
                }

                this.create = false;
                let response = await axios.post('/dish',{
                    title: this.title,
                    description: this.description
                })
                    .then(function(result){
                        console.log(result)
                        this.update_message = 'Neues Gericht hinzugefügt.'
                        this.updated = true;
                        this.$store.getters.getSocket.emit('update_dish', function(){
                            this.updateDishes();
                        }.bind(this));
                    }.bind(this))
                    .catch(function(error){
                        console.log(error)
                        this.update_message = 'Gericht konnte nicht hinzugefügt werden.'
                        this.updated = true;
                    }.bind(this))

                this.title = '';
                this.description = '';
            },
            deleteDish: async function(id){
                let response = await axios.delete('/dish/'+id)
                    .then(function(result) {
                        console.log(result)
                        this.update_message = 'Gericht gelöscht.'
                        this.updated = true;
                        this.$store.getters.getSocket.emit('update_dish', function(){
                            this.updateDishes();
                        }.bind(this));
                    }.bind(this))
                    .catch(function(error){
                        console.log(error)
                        this.update_message = 'Gericht konnte nicht gelöscht werden.'
                        this.updated = true;
                    }.bind(this))
            },
            updateDishes: function(){
                let dishes = axios.get('/dishes')
                    .then(result=>{
                        this.dishes = result.data.data;
                    })
                    .catch(error=>{
                        console.log(error)
                    })
            }
        },
        mounted: function(){
            let dishes = axios.get('/dishes')
                .then(result=>{
                    this.dishes = result.data.data;
                })
                .catch(error=>{
                    console.log(error)
                })

            this.$store.getters.getSocket.on('update_dish',function(msg){
                this.updateDishes();
            }.bind(this))

        }
    }
</script>

<style scoped>

</style>