<template>
        <v-bottom-nav
                :active.sync="bottomNav"
                :value="true"
                fixed
                dark
        >
            <router-link class="inital-link" to="/orders">
                <v-btn dark>
                    <span>Bestellungen</span>
                    <v-icon>record_voice_over</v-icon>
                </v-btn>
            </router-link>

            <router-link class="inital-link" to="/">
                <v-btn dark>
                    <span>Küche</span>
                    <v-icon>restaurant</v-icon>
                </v-btn>
            </router-link>

            <router-link class="inital-link" to="/persons">
                <v-btn dark>
                    <span>Gäste</span>
                    <v-icon>face</v-icon>
                </v-btn>
            </router-link>

            <router-link class="inital-link" to="/dishes">
                <v-btn dark>
                    <span>Gerichte</span>
                    <v-icon>local_pizza</v-icon>
                </v-btn>
            </router-link>
        </v-bottom-nav>
</template>

<script>
    export default {
        name: "Navigation",
        data: function(){
            return {
                bottomNav: 0
            }
        }
    }
</script>

<style scoped>

    .inital-link{
        color: transparent;
        text-decoration: none;
        background-color: transparent;
    }

</style>